benchmarks/comparison/scenarios/scenario-4-mqtt.json
{
  "scenario": "mqtt",
  "description": "mqtt-in -> mqtt-out loop: measures MQTT message processing throughput (requires broker)",
  "iterations": 500,
  "timeout_seconds": 60,
  "requires": ["mqtt-broker"],
  "flow": [
    {
      "id": "s4_tab",
      "label": "Scenario 4: MQTT",
      "type": "tab"
    },
    {
      "id": "s4_mqtt_broker",
      "name": "bench-broker",
      "type": "mqtt-broker",
      "broker": "localhost",
      "port": "1883",
      "clientid": "bench-mqtt-client",
      "autoConnect": true,
      "usetls": false,
      "protocolVersion": "4",
      "keepalive": "60",
      "cleansession": true,
      "birthTopic": "",
      "birthPayload": "",
      "birthQos": "0",
      "birthRetain": "false",
      "closeTopic": "",
      "closePayload": "",
      "closeQos": "0",
      "closeRetain": "false",
      "willTopic": "",
      "willPayload": "",
      "willQos": "0",
      "willRetain": "false"
    },
    {
      "id": "s4_mqtt_in",
      "name": "bench-mqtt-in",
      "type": "mqtt in",
      "z": "s4_tab",
      "name": "",
      "topic": "bench/mqtt/loop",
      "qos": "0",
      "datatype": "auto-detect",
      "broker": "s4_mqtt_broker",
      "nl": false,
      "rap": false,
      "rh": 0,
      "inputs": 0,
      "x": 160,
      "y": 100,
      "wires": [["s4_mqtt_out"]]
    },
    {
      "id": "s4_mqtt_out",
      "name": "bench-mqtt-out",
      "type": "mqtt out",
      "z": "s4_tab",
      "name": "",
      "topic": "bench/mqtt/loop",
      "qos": "0",
      "retain": "false",
      "respTopic": "",
      "contentType": "",
      "userProps": "",
      "correl": "",
      "expiry": "",
      "broker": "s4_mqtt_broker",
      "x": 380,
      "y": 100,
      "wires": []
    },
    {
      "id": "s4_inject",
      "name": "seed-inject",
      "type": "inject",
      "z": "s4_tab",
      "once": false,
      "onceDelay": 0,
      "payload": "mqtt-bench",
      "payloadType": "str",
      "repeat": "",
      "crontab": "",
      "props": [{ "p": "payload" }],
      "topic": "",
      "wires": [["s4_mqtt_out"]]
    }
  ]
}
