versions/v_000015.json
[
  {
    "id": "a1b2c3d4e5f60001",
    "label": "Modbus → PostgreSQL POC",
    "type": "tab"
  },
  {
    "host": "127.0.0.1",
    "id": "f1e2d3c4b5a60002",
    "name": "Local Modbus",
    "port": 5020,
    "type": "modbus-config"
  },
  {
    "connectTimeoutMs": 5000,
    "dbname": "edgelinkd_poc",
    "host": "127.0.0.1",
    "id": "a1b2c3d4e5f60010",
    "name": "Local PostgreSQL",
    "password": "postgres",
    "poolMaxSize": 5,
    "port": 5432,
    "type": "postgres-config",
    "user": "postgres"
  },
  {
    "address": 0,
    "config_node": "f1e2d3c4b5a60002",
    "id": "a1b2c3d4e5f60020",
    "name": "Read Sensors",
    "quantity": 4,
    "type": "modbus read",
    "wires": [
      [
        "a1b2c3d4e5f60030"
      ]
    ],
    "x": 200,
    "y": 200,
    "z": "a1b2c3d4e5f60001"
  },
  {
    "func": "// Transform Modbus register array to SQL params\nlet values = msg.payload;\n\n// Registers: [temp_x10, humidity_x10, pressure, status]\nlet temp = (values[0] || 0) / 10;\nlet humidity = (values[1] || 0) / 10;\nlet pressure = values[2] || 0;\nlet status = values[3] || 0;\n\n// Set query and params for postgres-query node\nmsg.query = \"INSERT INTO sensor_readings (temperature, humidity, pressure, status) VALUES ($1, $2, $3, $4)\";\nmsg.queryParams = [temp, humidity, pressure, status];\n\n// Keep original modbus data for debugging\nmsg.modbus_data = {\n    raw: values,\n    temperature: temp,\n    humidity: humidity,\n    pressure: pressure,\n    status: status\n};\n\nreturn msg;",
    "id": "a1b2c3d4e5f60030",
    "name": "Transform to SQL",
    "noerr": 0,
    "outputs": 1,
    "timeout": 0,
    "type": "function",
    "wires": [
      [
        "a1b2c3d4e5f60040",
        "a1b2c3d4e5f60050"
      ]
    ],
    "x": 420,
    "y": 200,
    "z": "a1b2c3d4e5f60001"
  },
  {
    "config_node": "a1b2c3d4e5f60010",
    "id": "a1b2c3d4e5f60040",
    "name": "Insert to PostgreSQL",
    "query": "INSERT INTO sensor_readings (temperature, humidity, pressure, status, inserted_at) VALUES ($1, $2, $3, $4, CURRENT_TIMESTAMP())",
    "timeout_ms": 10000,
    "type": "postgres-query",
    "wires": [
      [
        "a1b2c3d4e5f60050"
      ]
    ],
    "x": 680,
    "y": 200,
    "z": "a1b2c3d4e5f60001"
  },
  {
    "active": true,
    "complete": "true",
    "console": true,
    "id": "a1b2c3d4e5f60050",
    "name": "Debug Output",
    "statusType": "auto",
    "statusVal": "",
    "targetType": "full",
    "tosidebar": true,
    "tostatus": false,
    "type": "debug",
    "wires": [],
    "x": 920,
    "y": 280,
    "z": "a1b2c3d4e5f60001"
  }
]