versions/v_000010.json
[
  {
    "id": "adf5c374d9ac0466",
    "label": "Flow 1",
    "type": "tab"
  },
  {
    "crontab": "",
    "id": "ded1a8c84fec2323",
    "name": "Inject Hello",
    "once": false,
    "onceDelay": 0.1,
    "payload": "Hello, Rust-Red!",
    "payloadType": "date",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "5",
    "topic": "",
    "type": "inject",
    "wires": [
      [
        "4db7c4978083ac6c"
      ]
    ],
    "x": 410,
    "y": 280,
    "z": "adf5c374d9ac0466"
  },
  {
    "active": true,
    "complete": "true",
    "console": true,
    "id": "dc18e4d63818b44b",
    "name": "debug 1",
    "statusType": "auto",
    "statusVal": "",
    "targetType": "full",
    "tosidebar": true,
    "tostatus": false,
    "type": "debug",
    "wires": [],
    "x": 790,
    "y": 280,
    "z": "adf5c374d9ac0466"
  },
  {
    "finalize": "",
    "func": "let test = 123\nmsg.test = 123\nglobal.set(\"test\",test)\nflow.set(\"test\",test)\nreturn msg;",
    "id": "4db7c4978083ac6c",
    "initialize": "",
    "libs": [],
    "name": "function 1",
    "noerr": 0,
    "outputs": 1,
    "timeout": 0,
    "type": "function",
    "wires": [
      [
        "dc18e4d63818b44b"
      ]
    ],
    "x": 550,
    "y": 280,
    "z": "adf5c374d9ac0466"
  },
  {
    "config_node": "asd",
    "id": "f788385adb838b13",
    "name": "",
    "query": "asd",
    "timeout_ms": 30000,
    "type": "mssql-query",
    "wires": [
      [
        "4e916e9ccd40d28f"
      ]
    ],
    "x": 210,
    "y": 520,
    "z": "adf5c374d9ac0466"
  },
  {
    "address": 0,
    "config_node": "adsa",
    "id": "7104847da17ef922",
    "name": "test",
    "quantity": 1,
    "type": "modbus read",
    "wires": [
      [
        "483ca2341fdba75b"
      ]
    ],
    "x": 110,
    "y": 280,
    "z": "adf5c374d9ac0466"
  },
  {
    "crontab": "",
    "id": "65bacab869e75804",
    "name": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "",
    "payloadType": "date",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "topic": "",
    "type": "inject",
    "wires": [
      [
        "f788385adb838b13"
      ]
    ],
    "x": 150,
    "y": 460,
    "z": "adf5c374d9ac0466"
  },
  {
    "active": true,
    "complete": "false",
    "console": false,
    "id": "4e916e9ccd40d28f",
    "name": "debug 2",
    "statusType": "auto",
    "statusVal": "",
    "tosidebar": true,
    "tostatus": false,
    "type": "debug",
    "wires": [],
    "x": 430,
    "y": 460,
    "z": "adf5c374d9ac0466"
  },
  {
    "crontab": "",
    "id": "14e928d4140116fa",
    "name": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "",
    "payloadType": "date",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "topic": "",
    "type": "inject",
    "wires": [
      [
        "7104847da17ef922"
      ]
    ],
    "x": 90,
    "y": 160,
    "z": "adf5c374d9ac0466"
  },
  {
    "active": true,
    "complete": "false",
    "console": false,
    "id": "483ca2341fdba75b",
    "name": "debug 3",
    "statusType": "auto",
    "statusVal": "",
    "tosidebar": true,
    "tostatus": false,
    "type": "debug",
    "wires": [],
    "x": 210,
    "y": 340,
    "z": "adf5c374d9ac0466"
  }
]