benchmarks/flows/chain-100.json
[
  {
    "id": "f100000000000001",
    "label": "Benchmark Chain 100",
    "type": "tab"
  },
  {
    "id": "b100000000000001",
    "name": "bench-inject",
    "type": "inject",
    "z": "f100000000000001",
    "once": true,
    "onceDelay": 0,
    "payload": "benchmark",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "topic": "bench",
    "wires": [
      [
        "d100000000000001"
      ]
    ]
  },
  {
    "id": "d100000000000001",
    "name": "pass-0",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000002"
      ]
    ]
  },
  {
    "id": "d100000000000002",
    "name": "pass-1",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000003"
      ]
    ]
  },
  {
    "id": "d100000000000003",
    "name": "pass-2",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000004"
      ]
    ]
  },
  {
    "id": "d100000000000004",
    "name": "pass-3",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000005"
      ]
    ]
  },
  {
    "id": "d100000000000005",
    "name": "pass-4",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000006"
      ]
    ]
  },
  {
    "id": "d100000000000006",
    "name": "pass-5",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000007"
      ]
    ]
  },
  {
    "id": "d100000000000007",
    "name": "pass-6",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000008"
      ]
    ]
  },
  {
    "id": "d100000000000008",
    "name": "pass-7",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000009"
      ]
    ]
  },
  {
    "id": "d100000000000009",
    "name": "pass-8",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000000a"
      ]
    ]
  },
  {
    "id": "d10000000000000a",
    "name": "pass-9",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000000b"
      ]
    ]
  },
  {
    "id": "d10000000000000b",
    "name": "pass-10",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000000c"
      ]
    ]
  },
  {
    "id": "d10000000000000c",
    "name": "pass-11",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000000d"
      ]
    ]
  },
  {
    "id": "d10000000000000d",
    "name": "pass-12",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000000e"
      ]
    ]
  },
  {
    "id": "d10000000000000e",
    "name": "pass-13",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000000f"
      ]
    ]
  },
  {
    "id": "d10000000000000f",
    "name": "pass-14",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000010"
      ]
    ]
  },
  {
    "id": "d100000000000010",
    "name": "pass-15",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000011"
      ]
    ]
  },
  {
    "id": "d100000000000011",
    "name": "pass-16",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000012"
      ]
    ]
  },
  {
    "id": "d100000000000012",
    "name": "pass-17",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000013"
      ]
    ]
  },
  {
    "id": "d100000000000013",
    "name": "pass-18",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000014"
      ]
    ]
  },
  {
    "id": "d100000000000014",
    "name": "pass-19",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000015"
      ]
    ]
  },
  {
    "id": "d100000000000015",
    "name": "pass-20",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000016"
      ]
    ]
  },
  {
    "id": "d100000000000016",
    "name": "pass-21",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000017"
      ]
    ]
  },
  {
    "id": "d100000000000017",
    "name": "pass-22",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000018"
      ]
    ]
  },
  {
    "id": "d100000000000018",
    "name": "pass-23",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000019"
      ]
    ]
  },
  {
    "id": "d100000000000019",
    "name": "pass-24",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000001a"
      ]
    ]
  },
  {
    "id": "d10000000000001a",
    "name": "pass-25",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000001b"
      ]
    ]
  },
  {
    "id": "d10000000000001b",
    "name": "pass-26",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000001c"
      ]
    ]
  },
  {
    "id": "d10000000000001c",
    "name": "pass-27",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000001d"
      ]
    ]
  },
  {
    "id": "d10000000000001d",
    "name": "pass-28",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000001e"
      ]
    ]
  },
  {
    "id": "d10000000000001e",
    "name": "pass-29",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000001f"
      ]
    ]
  },
  {
    "id": "d10000000000001f",
    "name": "pass-30",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000020"
      ]
    ]
  },
  {
    "id": "d100000000000020",
    "name": "pass-31",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000021"
      ]
    ]
  },
  {
    "id": "d100000000000021",
    "name": "pass-32",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000022"
      ]
    ]
  },
  {
    "id": "d100000000000022",
    "name": "pass-33",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000023"
      ]
    ]
  },
  {
    "id": "d100000000000023",
    "name": "pass-34",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000024"
      ]
    ]
  },
  {
    "id": "d100000000000024",
    "name": "pass-35",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000025"
      ]
    ]
  },
  {
    "id": "d100000000000025",
    "name": "pass-36",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000026"
      ]
    ]
  },
  {
    "id": "d100000000000026",
    "name": "pass-37",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000027"
      ]
    ]
  },
  {
    "id": "d100000000000027",
    "name": "pass-38",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000028"
      ]
    ]
  },
  {
    "id": "d100000000000028",
    "name": "pass-39",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000029"
      ]
    ]
  },
  {
    "id": "d100000000000029",
    "name": "pass-40",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000002a"
      ]
    ]
  },
  {
    "id": "d10000000000002a",
    "name": "pass-41",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000002b"
      ]
    ]
  },
  {
    "id": "d10000000000002b",
    "name": "pass-42",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000002c"
      ]
    ]
  },
  {
    "id": "d10000000000002c",
    "name": "pass-43",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000002d"
      ]
    ]
  },
  {
    "id": "d10000000000002d",
    "name": "pass-44",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000002e"
      ]
    ]
  },
  {
    "id": "d10000000000002e",
    "name": "pass-45",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000002f"
      ]
    ]
  },
  {
    "id": "d10000000000002f",
    "name": "pass-46",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000030"
      ]
    ]
  },
  {
    "id": "d100000000000030",
    "name": "pass-47",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000031"
      ]
    ]
  },
  {
    "id": "d100000000000031",
    "name": "pass-48",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000032"
      ]
    ]
  },
  {
    "id": "d100000000000032",
    "name": "pass-49",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000033"
      ]
    ]
  },
  {
    "id": "d100000000000033",
    "name": "pass-50",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000034"
      ]
    ]
  },
  {
    "id": "d100000000000034",
    "name": "pass-51",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000035"
      ]
    ]
  },
  {
    "id": "d100000000000035",
    "name": "pass-52",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000036"
      ]
    ]
  },
  {
    "id": "d100000000000036",
    "name": "pass-53",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000037"
      ]
    ]
  },
  {
    "id": "d100000000000037",
    "name": "pass-54",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000038"
      ]
    ]
  },
  {
    "id": "d100000000000038",
    "name": "pass-55",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000039"
      ]
    ]
  },
  {
    "id": "d100000000000039",
    "name": "pass-56",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000003a"
      ]
    ]
  },
  {
    "id": "d10000000000003a",
    "name": "pass-57",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000003b"
      ]
    ]
  },
  {
    "id": "d10000000000003b",
    "name": "pass-58",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000003c"
      ]
    ]
  },
  {
    "id": "d10000000000003c",
    "name": "pass-59",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000003d"
      ]
    ]
  },
  {
    "id": "d10000000000003d",
    "name": "pass-60",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000003e"
      ]
    ]
  },
  {
    "id": "d10000000000003e",
    "name": "pass-61",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000003f"
      ]
    ]
  },
  {
    "id": "d10000000000003f",
    "name": "pass-62",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000040"
      ]
    ]
  },
  {
    "id": "d100000000000040",
    "name": "pass-63",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000041"
      ]
    ]
  },
  {
    "id": "d100000000000041",
    "name": "pass-64",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000042"
      ]
    ]
  },
  {
    "id": "d100000000000042",
    "name": "pass-65",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000043"
      ]
    ]
  },
  {
    "id": "d100000000000043",
    "name": "pass-66",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000044"
      ]
    ]
  },
  {
    "id": "d100000000000044",
    "name": "pass-67",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000045"
      ]
    ]
  },
  {
    "id": "d100000000000045",
    "name": "pass-68",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000046"
      ]
    ]
  },
  {
    "id": "d100000000000046",
    "name": "pass-69",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000047"
      ]
    ]
  },
  {
    "id": "d100000000000047",
    "name": "pass-70",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000048"
      ]
    ]
  },
  {
    "id": "d100000000000048",
    "name": "pass-71",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000049"
      ]
    ]
  },
  {
    "id": "d100000000000049",
    "name": "pass-72",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000004a"
      ]
    ]
  },
  {
    "id": "d10000000000004a",
    "name": "pass-73",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000004b"
      ]
    ]
  },
  {
    "id": "d10000000000004b",
    "name": "pass-74",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000004c"
      ]
    ]
  },
  {
    "id": "d10000000000004c",
    "name": "pass-75",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000004d"
      ]
    ]
  },
  {
    "id": "d10000000000004d",
    "name": "pass-76",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000004e"
      ]
    ]
  },
  {
    "id": "d10000000000004e",
    "name": "pass-77",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000004f"
      ]
    ]
  },
  {
    "id": "d10000000000004f",
    "name": "pass-78",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000050"
      ]
    ]
  },
  {
    "id": "d100000000000050",
    "name": "pass-79",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000051"
      ]
    ]
  },
  {
    "id": "d100000000000051",
    "name": "pass-80",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000052"
      ]
    ]
  },
  {
    "id": "d100000000000052",
    "name": "pass-81",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000053"
      ]
    ]
  },
  {
    "id": "d100000000000053",
    "name": "pass-82",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000054"
      ]
    ]
  },
  {
    "id": "d100000000000054",
    "name": "pass-83",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000055"
      ]
    ]
  },
  {
    "id": "d100000000000055",
    "name": "pass-84",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000056"
      ]
    ]
  },
  {
    "id": "d100000000000056",
    "name": "pass-85",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000057"
      ]
    ]
  },
  {
    "id": "d100000000000057",
    "name": "pass-86",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000058"
      ]
    ]
  },
  {
    "id": "d100000000000058",
    "name": "pass-87",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000059"
      ]
    ]
  },
  {
    "id": "d100000000000059",
    "name": "pass-88",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000005a"
      ]
    ]
  },
  {
    "id": "d10000000000005a",
    "name": "pass-89",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000005b"
      ]
    ]
  },
  {
    "id": "d10000000000005b",
    "name": "pass-90",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000005c"
      ]
    ]
  },
  {
    "id": "d10000000000005c",
    "name": "pass-91",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000005d"
      ]
    ]
  },
  {
    "id": "d10000000000005d",
    "name": "pass-92",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000005e"
      ]
    ]
  },
  {
    "id": "d10000000000005e",
    "name": "pass-93",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d10000000000005f"
      ]
    ]
  },
  {
    "id": "d10000000000005f",
    "name": "pass-94",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000060"
      ]
    ]
  },
  {
    "id": "d100000000000060",
    "name": "pass-95",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000061"
      ]
    ]
  },
  {
    "id": "d100000000000061",
    "name": "pass-96",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000062"
      ]
    ]
  },
  {
    "id": "d100000000000062",
    "name": "pass-97",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000063"
      ]
    ]
  },
  {
    "id": "d100000000000063",
    "name": "pass-98",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "d100000000000064"
      ]
    ]
  },
  {
    "id": "d100000000000064",
    "name": "pass-99",
    "type": "dummy",
    "z": "f100000000000001",
    "wires": [
      [
        "e100000000000001"
      ]
    ]
  },
  {
    "id": "e100000000000001",
    "name": "bench-debug",
    "type": "debug",
    "z": "f100000000000001",
    "active": true,
    "console": true,
    "tosidebar": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusType": "auto",
    "statusVal": "",
    "wires": []
  }
]