benchmarks/flows/wasm-echo.json
[
  {
    "id": "f3a1a1a1a1a1a1a1",
    "label": "Benchmark WASM Echo",
    "type": "tab"
  },
  {
    "id": "b3b1b1b1b1b1b1b1",
    "name": "bench-inject",
    "type": "inject",
    "z": "f3a1a1a1a1a1a1a1",
    "once": true,
    "onceDelay": 0,
    "payload": "benchmark-wasm",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "props": [
      { "p": "payload" },
      { "p": "topic", "vt": "str" }
    ],
    "topic": "bench-wasm",
    "wires": [
      ["d3d1d1d1d1d1d1d1"]
    ]
  },
  {
    "id": "d3d1d1d1d1d1d1d1",
    "name": "wasm-echo",
    "type": "example/echo",
    "z": "f3a1a1a1a1a1a1a1",
    "wires": [
      ["e3e1e1e1e1e1e1e1"]
    ]
  },
  {
    "id": "e3e1e1e1e1e1e1e1",
    "name": "bench-debug",
    "type": "debug",
    "z": "f3a1a1a1a1a1a1a1",
    "active": true,
    "console": true,
    "tosidebar": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusType": "auto",
    "statusVal": "",
    "wires": []
  }
]
